{% extends 'base.html.twig' %}

{% block title %}Hello
{% endblock %}

{% block body %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<div class="container mt-4">
		<div class="row">
		{% if gites is not empty %}
			{% for gite in gites %}
				<div class="col-md-6 mb-3">
					<div class="card">					
						<div class="card-body">
							<h5 class="card-title">{{ gite.location }}</h5>


							<!-- Owner Information Card -->
							<div class="card mb-3">
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">Owner Information</h6>
									<p class="card-text">
                                     <div class="row">
                                     <div class="col">
										<strong>Owner:</strong>
										{{ gite.owner.name }}<br>
										<strong>Owner email:</strong>
										{{ gite.owner.email }}<br>
                                        </div>
                                    </div>
									</p>
								</div>
							</div>

							<!-- Geographical Information Card -->
							<div class="card mb-3">
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">Geographical Information</h6>
									<p class="card-text">
                                    <div class="row">
                                        <div class="col">
										<strong>Region:</strong>
										{{ gite.region }}<br>
										<strong>Department:</strong>
										{{ gite.department }}<br>
										<strong>City:</strong>
										{{ gite.city }}<br>
										<strong>Surface:</strong>
										{{ gite.HabSurface }}
										m²<br>
                                        </div>
                                    </div>
									</p>
								</div>
							</div>


							<div class="card mb-3">
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">GitesInformation</h6>
									<p class="card-text">
                                    <div class="row">
                                        <div class="col">
										<strong>Bedrooms:</strong>
										{{ gite.NoBedrooms }}<br>
										<strong>Beds:</strong>
										{{ gite.NoBeds }}<br>
										<strong>Pet Friendly:</strong>
										{{ gite.PetFriendly ? 'Yes' : 'No' }}<br>
										<strong>Weekly Rates(€):</strong><br>
										{% for weeklyRate in gite.weeklyRates %}
											Period:
											{{ weeklyRate.period }}<br>
											Rate:
											{{ weeklyRate.rate }}<br>
										{% endfor %}
                                        </div>
                                    </div>
									</p>
								</div>
							</div>


							<!-- Equipment and Services Card -->
							<div class="card">
								<div class="card-body">
									<h6 class="card-subtitle mb-2 text-muted">Equipment and Services</h6>
									<p class="card-text">
									{% if includeEquipment %}
                                     <div class="row">
                                        <div class="col">
										<!-- Equipment details -->
										<strong>Equipment:</strong><br> 
											{% for equipmentItem in gite.equipment %}
											Name:{{ equipmentItem.name }}
											<br>
											Type:{{ equipmentItem.type }}
											<br>
											Extra Cost(€):{{ equipmentItem.extraCost }}
										
									{% endfor %}
                                      </div>
                                    </div>
									{% endif %}
									<div class="row mt-3">
                <div class="col">
                    <!-- Services details -->
					{% if gite.services is not empty %}
                    <strong>Services:</strong><br>
                    {% for serviceItem in gite.services %}
                        Name: {{ serviceItem.name }}<br>
                        Description: {{ serviceItem.description }}<br>
                        
                    {% else %}
                        No services available.<br>
                    {% endfor %}
					 {% endif %}
					</div>
            </div>
								</p>
							</div>
						</div>


					</div> 
					</div>
					</div>
					{% endfor %}
				{% else %}
					<div class="container mt-4">
						<div class="row">
							<div class="col">
								<p>No gites found.</p>
							</div>
							
						</div>
				</div>
{% endif %}
			</div>
		</div>
	 {% endblock %} 
	
